/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body {
  height: 100%;
  font-size: 65.5%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  max-width: 100%;
  /*	border:1px solid grey; */
  font-size: 1.6rem;
  font-family: 'Gelasio', serif;
  color: white;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 65.5%;
}
body {
  background-image: url('https://images.unsplash.com/photo-1518889735218-3e3a03fd3128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  background-repeat: repeat;
  background-size: 50%;
}
.container {
  width: 60%;
  margin: 1% auto;
  background-color: rgba(33, 66, 64, 0.945);
  border: 5px solid #004d46;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin-top: 5%;
  }
}
.container nav {
  width: 98%;
  margin: 2% 0;
  text-align: right;
}
@media (max-width: 500px) {
  .container nav {
    text-align: center;
  }
}
.container nav a {
  padding: 0 2%;
  text-decoration: none;
}
.container .top-section {
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  padding: 4%;
  display: flex;
  flex-direction: column;
  background-color: #007e77;
  border: 5px solid #004d46;
}
@media (max-width: 500px) {
  .container .top-section {
    height: 63vh;
    text-align: center;
  }
}
.container .top-section .top1 {
  padding-bottom: 4%;
  border-bottom: 1px solid rgba(33, 66, 64, 0.945);
}
.container .top-section h1 {
  font-size: 5rem;
  margin-bottom: 1%;
}
@media (max-width: 500px) {
  .container .top-section h1 {
    font-size: 4rem;
  }
}
.container .top-section h3 {
  font-size: 2.5rem;
}
.container .top-section p {
  font-size: 1.7rem;
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  .container .top-section p {
    text-align: center;
  }
}
.container .top-section div {
  margin: 2% 0;
}
.container .top-section div img {
  margin-bottom: 2%;
}
.container .top-section .learn-more {
  text-align: center;
  width: 15%;
  padding: 1.5%;
  border: 3px solid rgba(33, 66, 64, 0.945);
  border-radius: 15px;
  background-color: rgba(33, 66, 64, 0.945);
}
@media (max-width: 500px) {
  .container .top-section .learn-more {
    margin: 0 auto;
    width: 50%;
  }
}
.container .top-section .learn-more a {
  text-decoration: none;
}
.container .middle-section {
  margin: 3%;
  display: flex;
}
@media (max-width: 500px) {
  .container .middle-section {
    flex-wrap: wrap;
  }
}
.container .middle-section h2 {
  font-size: 3rem;
}
.container .middle-section p {
  font-size: 2rem;
}
.container .middle-section div {
  margin: 0 auto;
  width: 45%;
}
@media (max-width: 500px) {
  .container .middle-section div {
    width: 100%;
    text-align: center;
  }
}
.container .middle-section .about {
  margin-right: 5%;
}
@media (max-width: 500px) {
  .container .middle-section .about {
    margin-bottom: 5%;
    margin-right: 0;
  }
}
.container .middle-section .about p {
  margin-top: 3%;
}
.container .middle-section .skills h2 {
  margin-bottom: 3%;
}
.container .middle-section .skills li {
  width: 100%;
  padding: 3% 2%;
  border: 1px solid #007e77;
}
@media (max-width: 500px) {
  .container .middle-section .skills {
    margin-bottom: 5%;
  }
}
.container .bottom-section {
  width: 90%;
  margin: 0 auto;
}
.container .bottom-section h2 {
  font-size: 3rem;
  padding-bottom: 2%;
}
.container .bottom-section div {
  /*	border-top: 1px solid @color3; */
  /*	border-bottom: 1px solid @color3; */
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #007e77;
  padding: 2%;
}
.container .bottom-section .experience {
  background-color: #004d46;
}
.container footer {
  text-align: center;
  margin: 2% auto;
  padding: 3%;
  width: 90%;
  background-color: #004d46;
}
